{% extends "design/responsivebase.html" %}

{% block content %}
<div class="card" style="width: 412">
  <img class="card-img-top" src="/static/img/Contact-Us.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><div class="col text-center">Contact Us</div></h5>
    <p class="card-text">
        <hr>
        <div class="col text-center">
        <h4 class="lead">Email: aosiliconcompany@gmail.com</h4></br>
        <h4 class="lead">Phone: +91-9159425427</h4></br>
        <h4 class="lead">Address: © Silican pvt,Mountain View, California, United-States</h4>
        </div>
        <hr>
    </p>
  </div>
</div>
{% endblock  %}

